<mat-toolbar class="footer">
    <span class="listfooter">
        <ul>
            <li>
                <a href="https://www.linkedin.com/company/betalearning/" target="_blank">
                    <img class="social" src="assets/redes/linkedin.png" alt="linkedin">
                </a>
            </li>
            <li>
                <a href="https://www.instagram.com/betalearning/" target="_blank"><img class="social"
                        src="assets/redes/insta.png" alt="instagram">
                    </a>
            </li>
            <li>
                <a href="https://www.facebook.com/SejaBeta/" target="_blank">
                    <img class="social" src="assets/redes/face.png" alt="facebook">
                </a>
            </li>
        </ul>
    </span>
</mat-toolbar>