<h1>VENHA PARA O MUNDO DA <strong>TÉCNOLOGIA</strong></h1>
<section class="home1">
    <div class="img1">
        <img width="315" height="315" src="assets/home/img1.png" alt="img1">
    </div>
    <div class="img2">
        <iframe width="520" height="315" src="https://www.youtube.com/embed/vzRqCfomKLo">
        </iframe>
    </div>
</section>
<section class="home2">
    <div class="part1">
        <img width="200" height="200"src="assets/home/alvo.png" alt="alvo">
        <h2>ACERTAR</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis, 
            quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?</p>
    </div>
    <div class="part1">
        <img width="200" height="200"src="assets/home/time.png" alt="time">
        <h2>DESENVOLVER</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis, 
            quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?</p>
    </div>
    <div class="part1">
        <img width="200" height="200"src="assets/home/grafico.png" alt="grafico">
        <h2>MELHORAR</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis, 
            quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?</p>
    </div>
</section>