<main class="about_geral">
    <section class="about1">
        <div class="grid_img">
            <a href=""><img src="assets/about/about4.png" alt="icone1"></a>
            <a href=""><img src="assets/about/about1.png" alt="icone2"></a>
            <a href=""><img src="assets/about/about2.png" alt="icone3"></a>
            <a href=""><img src="assets/about/about3.png" alt="icone4"></a>
        </div>
    </section>
    <section class="about2">
        <div class="abt1">
            <img width="300" height="300" src="assets/about/time.png" alt="time">
            <span class="abt2">
                <h2>TECH TEAMS</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis,
                    quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis,
                    quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
            </span>
        </div>
        
        <div class="abt3">
            <span class="abt2">
                <h2>FOCO NO CLIENTE</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.
                    Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis,
                    quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?Voluptates esse veritatis expedita cum iure pariatur porro, fugiat amet perspiciatis,
                    quibusdam incidunt nesciunt ipsum deleniti eaque ex officiis quae aliquid voluptatibus?</p>
            </span>
            <img width="300" height="300" src="assets/about/tecnologia.png" alt="tecnologia">
        </div>
    </section>
</main>